<%# Include the header module (partial) %> 
<%- include('./partials/head.ejs') %> 

    <h2>This page was not found.</h2>

<%# Include the footer module (partial) %> 
<%- include('./partials/footer.ejs') %> 