<%# Include the header module (partial) %> 
<%- include('./partials/head.ejs') %> 
<main>
    <h2>Het shirt is succesvol verwijderd.</h2>
    <% if (nextStep === "/dashboard") { %> 
        <form action="/dashboard" method="POST">
            <input type="hidden" value="<%= userid %>" name="logincode" id="logincode">
            <input type="submit" value="Terug naar dashboard">
        </form>
    <% } else { %> 
    <a href=<%=nextStep%> >Terug naar besteloverzicht</a>
    <% } %> 
</main>
<%# Include the footer module (partial) %> 
<%- include('./partials/footer.ejs') %> 