<%# Include the header module (partial) %> 
<%- include('./partials/head.ejs') %> 

    <h2>Het shirt is succesvol verwijderd.</h2>
    <a href=<%=nextStep%> >Terug</a>
<%# Include the footer module (partial) %> 
<%- include('./partials/footer.ejs') %> 