body {
  hyphens: auto;
  background: #c9d6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    145deg,
    #e2e2e2,
    #c9d6ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    145deg,
    #e2e2e2,
    #c9d6ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 0;
  padding: 0;
}

header {
  background-color: rgba(255, 255, 255, 0.253);
  margin: 0 0 3em 0;
  padding: 2em;
  text-align: center;
  box-shadow: 0px 4px 10px #00000029;
}

header h1 {
  margin: 0;
  color: #6259f5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h2,
h3 {
  color: #6259f5;
}

main {
  width: 60vw;
  margin: 0 auto;
}

main.home section,
main div.studio,
main.page {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #ffffff;
  box-shadow: 0px 4px 10px #00000029;
  border-radius: 0.4em;
  padding: 2em 3em;
  color: #292929;
  font-weight: 300;
}

main.home section {
  margin: 2em 0;
}

main.home section h2 {
  color: #ffffff;
  background-color: #6259f5;
  margin: -1.3em -1.9em 1.5em -1.9em;
  border-radius: 0.3em 0.3em 0 0;
  padding: 2.5em 1.8em 1.3em 1.8em;
  font-size: 1.6em;
}

/* SUPPORT */
a.primary,
a.secundary {
  display: inline-block;
  padding: 1em;
  text-decoration: none;
  font-weight: bold;
  margin: 1em 0;
  border-radius: 0.3em;
  font-size: 1.1em;
}

a.primary {
  background-color: #6259f5;
  color: #ffffff;
  box-shadow: 0 5px 0 #4741b4;
}

a.secundary {
  border: 2px solid #6259f5;
  background-color: #ffffff;
  color: #6259f5;
  margin: 0 1em 0 0;
}

a.primary:hover,
a.secundary:hover,
button:hover,
input[type="submit"]:hover {
  cursor: pointer;
  background-color: #4843b9;
  box-shadow: 0 4px 0 #342f83;
  transform: translateY(0.1em);
}

a.primary:focus,
a.secundary:focus,
button:focus,
input[type="submit"]:focus {
  background-color: #fd0;
  color: #000000;
  box-shadow: 0 3px 0 #000000;
  outline: none;
  transform: translateY(0.1em);
}

a.primary:active,
a.secundary:active,
button:active,
input[type="submit"]:active {
  background-color: #393496;
  color: #ffffff;
  box-shadow: 0 0.5px 0 #272363;
  transform: translateY(0.2em);
}

a.secundary:hover {
  border: 2px solid #4843b9;
  color: #ffffff;
}

a.primary svg.next {
  margin: 0.25em 0 0 0.5em;
}

a.primary svg,
a.secundary svg,
a.remove svg {
  margin: 0 0.5em 0 0;
}

/* SUPPORT */
a.remove {
  display: inline-block;
  text-decoration: none;
  color: #d4351c;
  margin-top: 0.8em;
}

a.remove:hover {
  font-weight: bold;
  color: #a12714;
}

a.remove:focus {
  background-color: #fd0;
  box-shadow: 0 3px 0 #000000;
  outline: none;
  color: #000000;
}

a.remove.edit {
  color: #6259f5;
}

a.remove.edit:hover {
  color: #4843b9;
}

main.home a.primary,
div.error a.primary {
  margin: 1.5em 1.5em 2em 0;
}

main.page form {
  margin: 2em 0;
}

form fieldset {
  border: none;
  padding: 0;
  margin: 1.5em 0;
}

form fieldset legend {
  font-size: 1.2em;
}

form label,
form input {
  display: block;
}

form label {
  font-weight: bold;
  margin: 1em 0 0.8em 0;
}

form label:hover {
  cursor: pointer;
}

form input[type="text"],
form input[type="email"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 2em;
  border: 2px solid #292929;
  border-radius: 0.3em;
  margin: 0 0 1.2em 0;
  padding: 0 0.5em;
  font-size: 1em;
}

form input[type="text"] {
  margin: 0;
}

form input[type="text"]:focus,
form input[type="email"]:focus {
  border: 3px solid #6259f5;
  outline: none;
}

footer {
  background-color: rgba(255, 255, 255, 0.363);
  padding: 1em;
  text-align: center;
  margin: 5em 0 0 0;
  color: #6259f5;
  text-transform: uppercase;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* SUPPORT */
button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  background-color: #6259f5;
  color: #ffffff;
  padding: 1em;
  text-decoration: none;
  font-weight: bold;
  margin: 1em 0;
  border-radius: 0.3em;
  box-shadow: 0 5px 0 #4741b4;
  border: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.1em;
}

div.studio div.preview {
  position: relative;
  text-align: center;
  width: 15em;
  margin: 0 auto;
}

div.studio div.preview img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

div.studio div.preview p {
  width: 6em;
  max-height: 9.5em;
  overflow: hidden;
  font-size: 0.9em;
  font-weight: bold;
  color: white;
  position: absolute;
  top: 25%;
  left: 32%;
}

input[type="radio"] {
  position: absolute;
  bottom: 2em;
  opacity: 0;
}

div.studio fieldset input[type="radio"]:checked + label,
div.studio fieldset input[type="radio"]:focus + label {
  border: 3px solid #6259f5;
  color: #6259f5;
}

/* SUPPORT */
div.studio fieldset {
  display: block;
}

div.studio fieldset label.option,
div.studio fieldset label.kleur {
  text-align: center;
  border: 1.5px solid #a1a1a1;
  padding: 1em;
  margin: 1em 1em 0 0;
  cursor: pointer;
  border-radius: 0.3em;
}

/* SUPPORT */
label.kleur {
  display: inline-block;
}

label.kleur span,
article.product p:nth-of-type(3) span {
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  border-radius: 99em;
  margin: 0 0.5em 0 0;
}

label[for="zwart"] span,
article.product span.zwart {
  background-color: #020202;
}

label[for="rood"] span,
article.product span.rood {
  background-color: #a60628;
}

label[for="groen"] span,
article.product span.groen {
  background-color: #0f777c;
}

label[for="blauw"] span,
article.product span.blauw {
  background-color: #134d8d;
}

label[for="oranje"] span,
article.product span.oranje {
  background-color: #e46c07;
}

label[for="roze"] span,
article.product span.roze {
  background-color: #e3717f;
}

label[for="shirttekst"] span {
  font-weight: normal;
  color: #6e6e6e;
}
label[for="shirttekst"] span::before {
  content: " - ";
}

main.page section.confirm {
  text-align: center;
}

main.page section.confirm h2 {
  color: #0d9c00;
}

main.page section.confirm svg {
  display: block;
  fill: #0d9c00;
  margin: 0 auto;
  margin-bottom: 2em;
}

main.page section.confirm {
  margin: 4em 0;
}

main.page div.error {
  margin: 3em 0;
  text-align: center;
  fill: #6259f5;
}

/* SUPPORT */
main.page section.products {
  display: block;
}

main.page article.product {
  box-shadow: 0px 4px 10px #00000029;
  border-radius: 0.4em;
  padding: 2em 3em;
  width: 10em;
  margin: 0 1.5em 1.5em 0;
}

main.page article.product img {
  width: 5em;
}

main.page article.product p:first-of-type {
  font-weight: bold;
  font-size: 1.1em;
  text-transform: capitalize;
}

main.page article.product p:nth-of-type(2),
main.page article.product p:nth-of-type(3) {
  text-transform: capitalize;
  margin: 0 0 0.3em 0;
}

/* SUPPORT */
main.page article.product p:nth-of-type(3) {
  display: inline-block;
}

main.page article.product p:nth-of-type(4) span {
  font-weight: bold;
}

main.page.order p.totalprice {
  font-weight: bold;
  font-size: 1.1em;
  margin: 3em 0 0 0;
}

input#code {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #e2e0ff;
  padding: 0.5em 2em;
  border-radius: 99em;
  margin: 1em 0 1.5em 0;
  border: none;
  width: 5em;
  height: 4em;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2em;
}

input#code:focus {
  outline: none;
}

main.page.order p:nth-of-type(3) {
  margin: 0.5em 0 3.5em 0;
}

@supports (display: flex) {
  div.studio fieldset:not(fieldset:nth-of-type(3)) {
    position: relative;
    display: flex;
    flex-wrap: wrap;
  }
  main.page section.products {
    display: flex;
    flex-wrap: wrap;
    margin: 2em 0;
  }
}

@supports (display: inline-flex) {
  a.primary,
  a.secundary {
    display: inline-flex;
    vertical-align: middle;
  }
  a.remove {
    display: inline-flex;
    vertical-align: middle;
  }
  label.kleur {
    display: inline-flex;
  }
  main.page article.product p:nth-of-type(3) {
    display: inline-flex;
  }
}

@media screen and (max-width: 420px) {
  main {
    width: 90%;
  }

  main.page {
    width: 80%;
  }

  section.products {
    justify-content: center;
  }

  main.home section,
  main div.studio,
  main.page {
    padding: 1.5em;
  }
  main.home section h2 {
    margin: -0.95em -0.95em 1.5em -0.95em;
    padding: 2.5em 1.8em 1.3em 1.8em;
  }
}
