/* /////////////// */
/* GLOBAL STYLING */
/* ///////////// */

body {
  hyphens: auto;
  background: #c9d6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    145deg,
    #e2e2e2,
    #c9d6ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    145deg,
    #e2e2e2,
    #c9d6ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 0;
  padding: 0;
}

header {
  background-color: rgba(255, 255, 255, 0.253);
  margin: 0 0 3em 0;
  padding: 2em;
  text-align: center;
  box-shadow: 0px 4px 10px #00000029;
}

header h1 {
  margin: 0;
  color: #6259f5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h2,
h3 {
  color: #6259f5;
}

main {
  width: 60vw;
  margin: 0 auto;
}

main.home section,
main div.studio,
main.page {
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #ffffff;
  box-shadow: 0px 4px 10px #00000029;
  border-radius: 0.4em;
  padding: 2em 3em;
  color: #292929;
  font-weight: 300;
}

/* ///////// */
/* HOMEPAGE */
/* //////// */

main.home section {
  margin: 2em 0;
}

/* Title inside boxes */
main.home section h2 {
  color: #ffffff;
  background-color: #6259f5;
  margin: -1.3em -1.9em 1.5em -1.9em;
  border-radius: 0.3em 0.3em 0 0;
  padding: 2.5em 1.8em 1.3em 1.8em;
  font-size: 1.6em;
}

main.home section:first-of-type img {
  max-width: 90%;
}

main.page form {
  margin: 2em 0;
}

/* ////////// */
/*  BUTTONS  */
/* ///////// */

a.primary,
a.secundary,
button,
input[type="submit"] {
  display: inline-block;
  padding: 1em;
  text-decoration: none;
  font-weight: bold;
  margin: 1em 0;
  border-radius: 0.3em;
  font-size: 1.1em;
}

a.primary,
button,
input[type="submit"] {
  background-color: #6259f5;
  color: #ffffff;
  box-shadow: 0 5px 0 #4741b4;
}

a.secundary {
  border: 2px solid #6259f5;
  background-color: #ffffff;
  color: #6259f5;
  margin: 0 1em 0 0;
}

button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a.primary:hover,
a.secundary:hover,
button:hover,
input[type="submit"]:hover {
  cursor: pointer;
  background-color: #4843b9;
  color: #ffffff;
  box-shadow: 0 4px 0 #342f83;
  transform: translateY(0.1em);
}

a.secundary:hover {
  border: 2px solid #4843b9;
}

a.primary:focus,
a.secundary:focus,
button:focus,
input[type="submit"]:focus {
  background-color: #fd0;
  color: #000000;
  box-shadow: 0 3px 0 #000000;
  outline: none;
  transform: translateY(0.1em);
}

a.primary:active,
a.secundary:active,
button:active,
input[type="submit"]:active {
  background-color: #393496;
  color: #ffffff;
  box-shadow: 0 0.5px 0 #272363;
  transform: translateY(0.2em);
}

a.primary svg,
a.secundary svg,
a.remove svg {
  margin: 0 0.5em 0 0;
}

/* SVG Icon next to primary button */
a.primary svg.next {
  margin: 0.25em 0 0 0.5em;
}

/* Link to remove a shirt item */
a.remove {
  display: inline-block;
  text-decoration: none;
  color: #a72916;
  margin-top: 0.8em;
}

a.remove:hover {
  font-weight: bold;
  color: #7c1f10;
}

a.remove:focus {
  background-color: #fd0;
  box-shadow: 0 3px 0 #000000;
  outline: none;
  color: #000000;
}

/* Link to edit a shirt item */
a.remove.edit {
  color: #3a30f3;
}

a.remove.edit:hover {
  color: #2922af;
}

main.home a.primary,
section.empty a.primary {
  margin: 1.5em 1.5em 2em 0;
}

/* //////////////// */
/*  FORM ELEMENTS  */
/* ////////////// */

form fieldset {
  border: none;
  padding: 0;
  margin: 1.5em 0;
}

form fieldset legend {
  font-size: 1.2em;
}

form label,
form input {
  display: block;
}

form label {
  font-weight: bold;
  margin: 1em 0 0.8em 0;
}

form label:hover {
  cursor: pointer;
}

form input[type="text"],
form input[type="email"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 2em;
  border: 2px solid #292929;
  border-radius: 0.3em;
  margin: 0 0 1.2em 0;
  padding: 0 0.5em;
  font-size: 1em;
}

form input[type="text"] {
  margin: 0;
}

form input[type="text"]:focus,
form input[type="email"]:focus {
  border: 3px solid #6259f5;
  outline: none;
}

input[type="radio"] {
  position: absolute;
  bottom: 0em;
  opacity: 0;
}

/* Logincode copy field */
input#code {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #e2e0ff;
  padding: 0.5em 2em;
  border-radius: 99em;
  margin: 1em 0 1.5em 0;
  border: none;
  width: 5em;
  height: 4em;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2em;
}

input#code:focus {
  outline: none;
}

/* Error text below input */
form p.errortext {
  color: #a72916;
  margin-bottom: 0.7em;
}

/* Error text below submit input */
form p.formerror {
  padding: 1em;
  background-color: #d4351c;
  color: white;
  font-weight: bold;
  margin-bottom: 0.7em;
  border-radius: 0.3em;
}

/* //////////////// */
/*  DESIGN STUDIO  */
/* ////////////// */

/* Preview/product image */
div.studio div.preview {
  position: relative;
  text-align: center;
  width: 15em;
  margin: 0 auto;
}

div.studio div.preview img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

/* Preview text on shirt */
div.studio div.preview p {
  width: 6em;
  max-height: 9.5em;
  overflow: hidden;
  font-size: 0.9em;
  font-weight: bold;
  color: white;
  position: absolute;
  top: 25%;
  left: 32%;
}

div.studio fieldset:nth-of-type(3) {
  display: block;
}

div.studio fieldset input[type="radio"]:checked + label,
div.studio input[type="radio"]:focus + label {
  border: 3px solid #6259f5;
  color: #6259f5;
}

div.studio fieldset label.option,
div.studio fieldset label.kleur {
  text-align: center;
  border: 1.5px solid #a1a1a1;
  padding: 1em;
  margin: 1em 1em 0 0;
  cursor: pointer;
  border-radius: 0.3em;
}

label.kleur {
  display: inline-block;
}

/* Color indicator */
label.kleur span,
article.product p:nth-of-type(3) span {
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  border-radius: 99em;
  margin: 0 0.5em 0 0;
}

label[for="zwart"] span,
article.product span.zwart {
  background-color: #020202;
}

label[for="rood"] span,
article.product span.rood {
  background-color: #a60628;
}

label[for="groen"] span,
article.product span.groen {
  background-color: #0f777c;
}

label[for="blauw"] span,
article.product span.blauw {
  background-color: #134d8d;
}

label[for="oranje"] span,
article.product span.oranje {
  background-color: #e46c07;
}

label[for="roze"] span,
article.product span.roze {
  background-color: #e3717f;
}

/* Optional label */
label[for="shirttekst"] span {
  font-weight: normal;
  color: #6e6e6e;
}

label[for="shirttekst"] span::before {
  content: " - ";
}

/* ////////////// */
/*  OTHER PAGES  */
/* //////////// */

/* Confirm page */
main.page section.confirm {
  text-align: center;
  margin: 4em 0;
}

main.page section.confirm h2 {
  color: #0d9c00;
}

main.page section.confirm svg:not(a.primary svg, a.secundary svg) {
  display: block;
  margin: 0 auto;
  margin-bottom: 2em;
}

/* Empty shopping cart section */
main.page section.empty {
  margin: 3em 0;
  text-align: center;
  fill: #6259f5;
}

/* Section with all ordered products */
main.page section.products {
  display: block;
}

/* One individual product */
main.page article.product {
  display: block;
  box-shadow: 0px 4px 10px #00000029;
  border-radius: 0.4em;
  padding: 2em 3em;
  width: 10em;
  margin: 0 1.5em 1.5em 0;
}

main.page article.product img {
  width: 5em;
}

/* Name of product */
main.page article.product p:first-of-type {
  font-weight: bold;
  font-size: 1.1em;
  text-transform: capitalize;
}

main.page article.product p:nth-of-type(2),
main.page article.product p:nth-of-type(3) {
  text-transform: capitalize;
  margin: 0 0 0.3em 0;
}

main.page article.product p:nth-of-type(3) {
  display: inline-block;
}

/* Text printed on shirt */
main.page article.product p:nth-of-type(4) span {
  font-weight: bold;
}

/* Grand total */
main.page.order p.totalprice {
  font-weight: bold;
  font-size: 1.1em;
  margin: 3em 0 0 0;
}

main.page.order p:nth-of-type(3) {
  margin: 0.5em 0 3.5em 0;
}

/* ///////// */
/*  FOOTER  */
/* /////// */

footer {
  background-color: rgba(255, 255, 255, 0.363);
  padding: 1em;
  text-align: center;
  margin: 5em 0 0 0;
  color: #6259f5;
  text-transform: uppercase;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* ///////////////////////// */
/*   @supports FLEX-layout  */
/* /////////////////////// */

@supports (display: flex) {
  /* Radio inputs inside studio fieldsets */
  div.studio fieldset {
    position: relative;
    display: flex;
    flex-wrap: wrap;
  }
  /* Products inside shopping cart */
  main.page section.products {
    display: flex;
    flex-wrap: wrap;
    margin: 2em 0;
  }
}

/* //////////////////////////////// */
/*   @supports inline FLEX-layout  */
/* ////////////////////////////// */

@supports (display: inline-flex) {
  /* Buttons > used for aligning the SVGs */
  a.primary,
  a.secundary,
  a.remove {
    display: inline-flex;
    vertical-align: middle;
  }

  /* Color dots next to color name */
  label.kleur,
  main.page article.product p:nth-of-type(3) {
    display: inline-flex;
  }
}

/* ///////////////// */
/*  @supports grid  */
/* //////////////// */

@supports (display: grid) {
  /* First section on home page */
  main.home section:first-of-type {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    column-gap: 1.5em;
  }
  main.home section:first-of-type h2 {
    grid-column: 1 / span 2;
  }
}

/* //////////////////////////// */
/*  @media for smaller screens  */
/* //////////////////////////// */

@media screen and (max-width: 420px) {
  main {
    width: 90%;
  }

  main.page {
    width: 80%;
  }

  section.products {
    justify-content: center;
  }

  main.home section,
  main div.studio,
  main.page {
    padding: 1.5em;
  }
  main.home section h2 {
    margin: -0.95em -0.95em 1.5em -0.95em;
    padding: 2.5em 1.8em 1.3em 1.8em;
  }
}

@media screen and (max-width: 850px) {
  main.home section:first-of-type img,
  main.home section:first-of-type div {
    grid-column: 1 / span 2;
  }
  main.home section:first-of-type img {
    max-width: 60%;
    margin: 0 auto;
    margin-bottom: 2em;
  }
}
